body {
  background-color: #333;
  padding: 0.5rem 2rem;
  color: #f0f0f0;
  font-family: sans-serif;
  font-weight: 300;
}

/* 
h1 {
  color: #09f;
  border-width: 1px;
  border-style: solid;
  border-color: currentColor;
} 
*/

a {
  text-decoration: none;
  color: #006fff;
  margin-right: 1rem;
}

a:hover {
  color: #4696ff;
  outline: 1px solid #4696ff; /* Differentiate from border */
}

a:active {
  outline-width: 3px;
}

li:first-child {
  color: #ff762c;
}

li:last-child {
  color: greenyellow;
}

#showModal {
  background: #09f;
  color: #f0f0f0;
  border: 0;
  padding: 0.4rem;
}

/* 
.link {
  color: red;
} 
*/
